.heroSection {
    width: 100%;
    height: 36rem;
    position: relative;
    font-family: Montserrat, 'Open Sans' !important;
    margin-bottom: 7rem;

    .heroImage {
        height: 100% !important;
        width: 100%;
        object-fit: cover;
    }


}