.cardContainer {
    box-shadow: #0000003d 0px 3px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 7rem;
    padding: 3rem 1rem;


    @media screen and (max-width: 768px) {
        width: 90%;
    }

    .card {
        width: 30%;
        position: relative;

        @media screen and (max-width: 1280px) {
            width: 45%;
        }

        @media screen and (max-width: 768px) {
            width: 100%;
        }

        &:nth-child(3) {

            .info {
                .title {
                    color: #0e7490;
                }


            }
        }

        &:nth-child(2) {

            .info {
                .title {
                    color: #16a34a;
                }

                .index {
                    color: rgba($color: green, $alpha: 0.5);
                }
            }
        }

        &:hover {
            .info {
                .title {
                    font-size: 4rem;
                    position: absolute;
                    z-index: 99;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 99;

                }
            }
        }

        .imageContainer {
            width: 80%;
            height: 30rem;
            position: relative;

            @media screen and (max-width: 768px) {
                width: 90%;
            }

            .categoryImage {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .info {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: 0.8s all ease-in;



            .title {
                transition: 0.8s all ease-in;
                font-size: 1.6rem;
                text-wrap: nowrap;
                color: #ccc;
            }

        }

    }
}