:root {
    font-size: 10px;
    --bg: #f0fdf4;
    --bg-gradient: linear-gradient(119deg, rgba(240, 253, 244, 1) 15%, rgba(187, 247, 208, 0.5) 97%);
    --bg-dark: #47b57d;
    --bg-soft: #4ade80;
    --text: #000;
    --text-soft: #000;
    --text-dark: #14532d;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    background: var(--bg);
    background: var(--bg-gradient);
}

.app {
    max-width: 100vw;
    min-height: 100vh;
    background: var(--bg);
    background: var(--bg-gradient);


    .wrapper {
        min-height: calc(100vh - 8rem);
        width: 100%;
    }
}

button {
    background-color: transparent;
    cursor: pointer;
}

a {
    color: inherit;
}