.about {
    font-size: 1.6rem;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    color: #565656;
    line-height: 2.4rem;
    font-weight: 400;
    margin-bottom: 7rem;

    p {
        margin: 0 0 2rem;

    }
}